.App {
    font-family: sans-serif;
    text-align: center;
  } 
  button {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .MuiList-root .MuiListItem-root {
      list-style: none;
    }
    a {
      color: black;
      text-decoration: none;
    }