.girlButton {
  background-color:rgb(220, 27, 27);
  color:white;
  border-radius: 10px;
}

.boyButton {
  background-color: blue;
  margin-right: 20px;
  color:white;
  border-radius: 10px;
}

.yesButton{
  position: center;
  border-radius: 10px;
  margin-right: 20px;
}


button {
  position: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
}


a {
  color: black;
  text-decoration: none;
}

li{
  list-style: none;
}

ul{
  margin:0;
  padding:0;
  margin-right: 2em;
  margin-left: 2em;
}

.MuiList-root .MuiListItem-root {
  list-style: none;
}

    
.icon {
  width: 100px;
  height: 100px;
}

    

body {
  background-color: #f5f5f5;
}

 
